.padding-10{
    padding: 10px;
}
.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Ajusta la altura según tus necesidades */
    border: 1px solid black; /* Solo para visualización */
  }